
main{
    width:98.9vw;
    display: grid;
    grid-template-columns: auto / auto;
    margin:0;
    background-color: #126782;
    height:max-content;
    color:white;
    background:linear-gradient(#126782,#2A9D8F);
}

main div{
    font-size:1.6rem;
    height:50vh;
    margin-left:1rem;
    margin-right: 1rem;
    margin-top:0.5rem;
}

h1{
    font-size:5rem;
}

.overskrift{
    grid-area: 1/1/span 1 /span 3;
    margin:0;
    text-align: center;
}

.historie{
    grid-area: 2/2/span 1 /span 2;
    width:55vw;
}

.bilde-1{
    background-image: url(bilder/pexels-suraphat-nueaon-937465.jpg);
    background-size:cover;
    background-position: center;
    border-radius: 0.5rem;
}

.oppgave{
    grid-area:3/1/span 1/ span 1;
}

.bilde-2{
    background-image: url(bilder/thai.png);
    grid-area:3/2/span 1/ span 2;
    background-size:cover;
    width:55vw;
    border-radius: 0.5rem;
}

.velge{
    grid-area: 4/2/span 1/ span 2;
    width:55vw;
}

.bilde-3{
    background-image:url(bilder/pexels-marily-torres-776615.jpg);
    background-size: cover;
    border-radius: 0.5rem;
    margin-top:3rem;
}

.kontakt{
    grid-area:5/1/span 1/ span 1;
    width:40vw;
}

.logo{
    grid-area:5/2/span 1/span 2;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:3rem;
    font-weight:bold;
    background-image: url(bilder/logo.png);
    background-size: cover;
    background-position: center;
}


#tagline{
    font-size:2rem;
    text-align: center;
}
