.background {
    background-image: url(../bangkok/bilder/bilde\ og\ lenke/bangkok.jpg);
    width: 100%;
    
}


.tekst{
    margin:0;
    color: white;
    font-size: 20px;
    background: linear-gradient(90deg,#023047,#ffffff00);
}
.omp {
    width: 60vw;
    color: white;
}
main {
    height: fit-content;
    margin: 0;
    width:98.9vw;
    
}
#avreise {
    color: white;
    background: linear-gradient(90deg,
        #023047,
        #ffffff00);
}
footer {
    margin: 0;
}