.tekst{
    margin:0;
    color: white;
    font-size: 20px;
    background: linear-gradient(90deg,#023047,#ffffff00);
}

main { 
    height: 90rem;
    margin: 0;
    width:98.9vw;  
    background-image: url(../bangkok/bilder/bilde\ og\ lenke/bangkok.jpg);
    display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
}



.bondjames {
    background-color: rgba(82, 81, 81, 0.495);
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.innledning {
    background-color: rgba(255, 255, 255, 0);  
    color: white; 
}

.plan {
    background-color: rgba(255, 255, 255, 0);
    color: white;
}

.avreise {
    background-color: rgba(255, 255, 255, 0);

}
footer {
    margin: 0;
}