.background {
    background-image: url(bilder\bilde og lenke);
    width: 100%;
    
}

.tekst{
    
    background: linear-gradient(90deg,#023047,#ffffff00);
}
.omp {
    width: 60vw;
    color: white;
}