main{
    height: fit-content;
    width:100vw;
    display: grid;
}

.hold{
    background-image: url(media/bakgrunn.jpg);
    background-size:cover;
    background-position: center;
    grid-area: 1/1;
    font-size: large;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
   
}
.tittel{
    text-shadow: -0.06rem -0.06rem 0 #000, 0.06rem -0.06rem 0 #000, -0.06rem 0.06rem 0 #000, 0.06rem 0.06rem 0 #000;
    color: white;
    text-align: center;
}

.bangkok {
    padding:2rem;
    height:40vh;
    grid-area:2/1;
    background-color: white;
    display:grid;
    grid-template-columns: 50% 50%;
}

.phiphi{
    padding:2rem;
    height:40vh;
    grid-area:3/1;
    background-color: white;
    display:grid;
    grid-template-columns: 50% 50%;
}


.reise{
    display: grid;
}

.overskrift{
    grid-area:1/1;

}

.tekst {
    grid-area:2/1;
    font-size:1.2rem;
}

.bilde-1 {
    grid-area:1/2 /span 3;
    background-image: url(media/Bangkok.jpg);
    background-size: cover;
    background-position: center;
}

.bilde-2 {
    grid-area:1/2 /span 3;
    background-image: url(media/phi.jpg);
    background-size: cover;
    background-position: center;
}


.knapp {
    display: flex;
    justify-content: end;
    align-items: end;  
    grid-area:3/1;
}

.program {
    text-align: center;
    font-size: 1.3rem;
    padding: 1rem;
    background-color: #E9C46A;
    height: fit-content;
    width: fit-content;
    margin: 1rem;
    border: black solid 0.06rem;
    text-decoration: none;
    color: black;
}
