main{
    height:120rem;
    width:98.9vw;
    background-size:contain;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-image: url(../Hovedside/media/amazon.jpg);
    
}

.hold{
    grid-template-areas: center;
    grid-row: 1;
    grid-column: 3/4;
}
.tittel{
    color: white;
}

.info {
    background-color: red;
    border: 1px solid black;
    grid-column: 1/6;
    grid-row: 2/3;

}
