main{
    width:100vw;
    display: grid;
    grid-template-columns: auto / auto;
    margin:0;
    background:linear-gradient(#2A9D8F,#126782);
}

.reise{
    border-radius: 0.5rem;
    background-color: white;
    margin:1rem;
    width:97vw;
    display:grid;
    grid-template-columns: 10vw 10vw 38.5vw 38.5vw;
    grid-template-rows: 15vh auto;
    top:100%;
}

.bilde-1{
    border-radius: 0.5rem 0 0 0.5rem;
    background-image: url(bilder/bangkok.jpg);
    background-position: center;
    background-size:cover;
    width:20vw;
    grid-area: 1/1/span 2/span 2;
}

.bilde-2{
    border-radius: 0.5rem 0 0 0.5rem;
    background-image: url(bilder/koh-lanta.jpg);
    background-position: center;
    background-size:cover;
    width:20vw;
    grid-area: 1/1/span 2/span 2;
}

.bilde-3{
    border-radius: 0.5rem 0 0 0.5rem;
    background-image: url(bilder/phi-phi.jpg);
    background-position: center;
    background-size:cover;
    width:20vw;
    grid-area: 1/1/span 2/span 2;
}

.bilde-4{
    border-radius: 0.5rem 0 0 0.5rem;
    background-image: url(bilder/phuket.jpg);
    background-position: center;
    background-size:cover;
    width:20vw;
    grid-area: 1/1/span 2/span 2;
}

.overskrift{
    margin:1rem;
    grid-area:1/3;
    margin-left:1rem;
}

.overskrift p{
    
    font-size:1.4rem;
}

.tekst{
    grid-area:2/3;
    font-size:1.6rem;
    margin-left:1rem;
    margin:1rem;
}

.pris{
    grid-area: 1/4;
    text-align: right;
    font-size:1.5rem;
    margin:2rem;
}

.knapp{
    grid-area:2/4;
    display: flex;
    justify-content: end;
    align-items: end;
}

.program{
    text-align: center;
    font-size:2rem;
    padding:1rem;
    background-color: #E9C46A;
    height:fit-content;
    width:fit-content;
    margin:1rem;
    border:black solid 0.06rem;
    text-decoration: none;
    color:black;
}

.utsolgt{
    width:1rem;
    height:1rem;
    background-color: red;
    display: inline-block;
    border-radius: 50%;
    border:black solid 0.06rem;
}

.lite-ledig{
    width:1rem;
    height:1rem;
    background-color: yellow;
    display: inline-block;
    border-radius: 50%;
    border:black solid 0.06rem;
}

.ledig{
    width:1rem;
    height:1rem;
    background-color: greenyellow;
    display: inline-block;
    border-radius: 50%;
    border:black solid 0.06rem;
}