main{
    width:100vw;
    display: grid;
    grid-template-columns: auto / auto;
    margin:0;
    background-color: #2A9D8F;
    height:100vh;
}

.reise-1{
    background-color: white;
    margin:1rem;
}