main{
    width:98.9vw;
    display: grid;
    grid-template-columns: auto / auto;
    margin:0;
    background-color: #2A9D8F;
    height:100vh;
}



.reise-1{
    background-color: white;
    margin:1rem;
    width:97vw;
    display:grid;
}

.bilde-1{
    background-image: url(bilder/pexels-nick-wehrli-3393546.jpg);
    background-size:cover;
    height:auto;
    grid-area: 1/1/span 2/span 2;
}

.overskrift-1{
    grid-area:1/3;
}

.tekst-1{
    grid-area:2/3;
}

.pris-1{
    grid-area: 1/4;
}

.bestill-1{
    grid-area:2/4;
}